.buttons-shevron
	border: 1px solid #c609ff

	display: flex
	justify-content: space-between
	cursor: pointer
	width: 73px
	height: 30px
	
	&:hover
		border: 1px solid #000000

	&__left
		border: 1px solid #000000

		display: flex
		align-items: center
		justify-content: center


		> div
			width: 22px
			height: 22px
			transform: rotate(180deg)
			background-image: url(/images/shevron-right.svg)
			background-size: contain
			background-repeat: no-repeat

	&__right
		border: 1px solid #000000
		display: flex
		align-items: center
		justify-content: center
		
		> div
			width: 22px
			height: 22px
			background-image: url(/images/shevron-right.svg)
			background-size: contain
			background-repeat: no-repeat