.lineOfBusiness 
	margin-bottom: 87px
	
	&_title 

		h3
			font-weight: 700
			font-size: 22px
			line-height: 37px
			letter-spacing: 0.16em
			text-transform: uppercase
			color: #000000
			margin-bottom: 57px

	&_columns
		display: grid
		grid-column-gap: 25px
		grid-row-gap: 24px
		height: 546px
		grid-template-columns: repeat(4, 1fr)
		grid-template-rows: repeat(2, 1fr)
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))

		h3
			font-weight: 700
			font-size: 18px
			line-height: 29px
			text-transform: uppercase
			color: #FFFFFF
			margin-bottom: 1px
			
		p
			font-weight: 500
			font-size: 14px
			line-height: 21px
			color: #FFFFFF

		&_flex-container
			position: relative
			z-index: 1
			height: 100%
			width: 100%
			display: flex
			flex-direction: column
			justify-content: end

		&_construction
			position: relative
			padding: 0px 26px 50px 23px
			grid-column: 1 / 2
			grid-row: 1 / 3
			transition: all 0.5s linear 0s
			overflow: hidden

			&--gray-bg
				position: absolute
				z-index: 10
				top: 0
				left: 0
				right: 0
				bottom: 0
				background-color: #00000088
				transform: translateY(100%)
				display: flex
				align-items: end

				.more-button 
					position: relative
					font-size: 20px
					width: 100%
					height: 50px
					text-align: left
					background: transparent
					border: none
					outline: none
					padding: 0
					padding-left: 20px
					padding-bottom: 10px
					color: #fff
					cursor: pointer
					// transition: all 0.5s linear 0s

			&:hover
				.lineOfBusiness_columns_construction--gray-bg
					transform: translateY(0)
					transition: all 0.5s linear 0s


			&_bg-image
				position: absolute
				z-index: -1
				top: 0
				left: 0
				width: 100%
				height: 100%
				background-image: url(/images/lineOfBusiness/warehouse.png)
				background-repeat: no-repeat
				background-position: center
				background-size: 850px 546px

		&_crane
			position: relative
			margin-top: -37px
			padding: 0px 16px 22px 23px
			position: relative
			grid-column: 2 / 3
			grid-row: 1 / 2
			background: linear-gradient(to bottom, #ffffff00 0%, #00000028 99%)
			overflow: hidden
			
			&_bg-image
				position: absolute
				z-index: -1
				top: 0
				left: 0
				width: 393px
				height: 393px
				transform: matrix(-1, 0, 0, 1, 0, 0) rotate(-2deg)
				background-image: url(/images/lineOfBusiness/crane.png)
				background-repeat: no-repeat
				background-position: 55px 0px
				background-size: 393px 393px

		&_electrician 
			position: relative
			padding: 0px 43px 17px 25px
			grid-column: 3 / 5
			grid-row: 1 / 2
			background: linear-gradient(to bottom, #ffffff00 0%, #00000028 99%)

			&_bg-image
				position: absolute
				z-index: -1
				top: 0
				left: 0
				width: 100%
				height: 100%
				background-image: url(/images/lineOfBusiness/electrician.png)
				background-repeat: no-repeat
				background-position: -170px -120px 
				background-size: 763px 510px

		&_fitter 
			position: relative
			padding: 0px 17px 26px 24px
			grid-column: 2 / 4
			grid-row: 2 / 3
			background: linear-gradient(to bottom, #ffffff00 0%, #00000028 99%)

			&_bg-image
				position: absolute
				z-index: -1
				top: 0
				left: 0
				width: 100%
				height: 100%
				background-image: url(/images/lineOfBusiness/fitter.png)
				background-repeat: no-repeat
				background-position: center -250px
				background-size: 772px 552px

		&_design
			position: relative
			padding: 0px 13px 25px 24px
			grid-column: 4 / 5
			grid-row: 2 / 3
			background:#9D9D9D
			overflow: hidden

			&_bg-image
				// overflow: visible
				position: absolute
				z-index: 0
				top: -90px
				left: -10px
				width: 600px
				height: 409px
				transform: rotate(-18deg)
				background-image: url(/images/lineOfBusiness/blueprints.png)
				background-repeat: no-repeat
				background-position: -30px -150px 
				background-size: 600px 409px
