@media ( max-width: 1870px )
	.query_sixth--white
		background-color: #ffffff
		transform: translate(-4px, 0px) 

@media ( max-width: 1675px )
	.query_first--white
		background-color: #ffffff
		transform: translate(0px, 4px) scale(1, 1.1)

		
		

@media ( max-width: 1229px )
	

	header
		height: 418px

		.rectangles
			width: 791px
			height: 417px

		.video
			width: 790px
			height: 417px
	
		.container
			width: 938px

			nav
				grid-column-gap: 124px


				.links

			.logo-and-description
				width: 444px
				padding-top: 22px

				.description 

					h1
						font-size: 30px
						margin-bottom: 0px

					p
						font-size: 16px
						line-height: 26px

	.about-company 
		&_border-lines
			border: none

		.container
			.about-company_columns
				&__text
					width: 617px
	
	.lineOfBusiness 
		margin-bottom: 78px

		&_columns

			h3
				font-size: 16px
				line-height: 26px

	.motivation
		margin-bottom: 73px
		&_columns
			grid-column-gap: 23px

	.realizedObjects
		margin-bottom: 165px
		.card-columns
			height: 446px

	.partners-columns
		

