.partners-columns-2-5
	display: grid
	grid-template-columns: 2fr 5fr

	&_column-with-subcolumns
		display: grid
		grid-template-columns: repeat(3, 1fr)

		.image-Miratorg
			background-image: url(/images/partners/miratorg.png)
			background-size: contain
			background-repeat: no-repeat

		.image-Magnit
			background-image: url(/images/partners/magnit.png)
			background-size: contain
			background-repeat: no-repeat

		.image-Lujniki
			background-image: url(/images/partners/lujniki.png)
			background-size: contain
			background-repeat: no-repeat
