.partners-columns
	display: grid
	grid-template-columns: 318px 736px
	grid-column-gap: 35px
	margin-bottom: 98px

	&_single-column
		display: flex
		flex-direction: column

		h3
			font-weight: 700
			font-size: 22px
			line-height: 26px
			letter-spacing: 0.16em
			text-transform: uppercase
			color: #000000
			margin-bottom: 12px
		
		p
			flex: 1 0 auto
			font-weight: 500
			font-size: 16px
			line-height: 27px
			color: #000000
			// margin-bottom: 80px

	&--window
		overflow: hidden

	&_cards 
		display: flex
		transition: all 1s
		padding: 5px 0
		a
			color: #000
			text-decoration: none
			&:hover
				text-decoration: underline

		&_card
			min-width: 205px
			min-height: 275px
			box-shadow: 0px 0px 3px #000
			display: flex
			flex-direction: column
			align-items: center
			text-align: center
			justify-content: space-between
			padding: 14px 10px 23px 10px
			margin-left: 20px
			cursor: pointer
			

			&:hover
				box-shadow: 0px 0px 5px #000
				
			h3
				font-weight: 600
				font-size: 16px
				line-height: 21px
				text-align: center
				color: #000000
				margin-bottom: 6px

			p
				font-weight: 500
				font-size: 12px
				line-height: 17px
				color: #000000
				margin-bottom: 9px

			.image-Miratorg
				width: 157px
				height: 117px
				background-image: url(/images/partners/miratorg.png)
				background-size: contain
				background-position: center
				background-repeat: no-repeat
				margin-bottom: 16px

			.image-Magnit
				width: 164px
				height: 117px
				background-image: url(/images/partners/magnit.png)
				background-size: contain
				background-position: center
				background-repeat: no-repeat
				margin-bottom: 16px

			.image-Lujniki
				width: 117px
				height: 117px
				background-image: url(/images/partners/lujniki.png)
				background-size: contain
				background-repeat: no-repeat
				margin-bottom: 16px
