.card-columns
	display: grid
	grid-template-columns: repeat(2, 1fr)

	.card-columns_column-left
		background-image: url(/images/realizedObjects/counstruction.png)
	
	.card-columns_column-right
		background-image: url(/images/realizedObjects/factory.png)