section.about-company 
	.about-company_border-lines
		.container
			.about-company_columns 
				.about-company_columns__text
					h2 О компании
					p ООО «СтройЭнергоГРУПП» на рынке с 2010 года, динамично развивается и занимает лидирующие позиции в области строительства в РФ.
					p На сегодняшний день компания «СтройЭнергоГРУПП» успешно выполняет проекты в промышленной, коммерческой, социальной и гражданско-бытовой сфере во многих регионах России. 
					p Среди наших клиентов представлены крупные корпорации, а так же госструктуры, коммунальные и бюджетные предприятия.
				.about-company_columns__block-with-numbers
					.number-text 
						.number-text_years.counts 12
						p лет стабильной работы
						.number-text_projects.counts 350#[sup.counts +]
						p завершенных проектов
						.number-text_employeers.counts 120
						p человек в штате
						
	.container
		.disclaimer 
			h3 Компания является Членом Ассоциации СРО:
			p Ассоциация «Мастер-Проект» РН СРО-П-202-0908218  подготовка проектной документации РН в реестре СРО-421.
			p Ассоциация «Объединенные строители» - строительство РН СРО-С-113-15122009 РН в реестре СРО-977.


