header 
	//- необходимо заменить на тег video и настроить путь для атрибута poster
	div(class="video")
		img(class="video_back" src="/images/header/CASA.png", alt="photo")

	.rectangles
		div(class="rectangle--border-right query_first--white") 
		div(class="rectangle--border-right") 
		div(class="rectangle--border-right") 
		div(class="rectangle") 
		div(class="rectangle--white") 
		div(class="rectangle--border-right-top query_sixth--white") 
		div(class="rectangle--border-right-top query_seventh--white") 
		div(class="rectangle--border-top") 
	
	.container 
		nav
			//- Блок мобильного меню, появляется при разрешении меньше 744px
			div.mobile-navigation-bar
				h1 Стройэнергогрупп
				button(id="mobile-navigation-button")
	
			div.links
				a(href="") О компании
				a(href="") Услуги
				a(href="") Объекты
				a(href="") Нам доверяют
				a(href="") Контакты
			div.phone +7 (910) 333-35-75

		section.logo-and-description 
			.logo 
				img(src="/images/header/Logo.svg", alt="logo")

			.description 
				h1 Стройэнергогрупп
			
			p Динамично развивающаяся строительно - торговая группа на рынке строительных услуг полного цикла различной степени сложности.
	.shadow
			
