section.lineOfBusiness 

	.container 

		.lineOfBusiness_title 
			h3 Направления деятельности

		.lineOfBusiness_columns 
			.lineOfBusiness_columns_construction 
				.lineOfBusiness_columns_flex-container
					h3 строительство
					p Возведение жилых, промышленных зданий и складских терминалов.
					a(href="") Подробнее
				.lineOfBusiness_columns_construction_bg-image

			.lineOfBusiness_columns_crane 
				.lineOfBusiness_columns_flex-container
					h3 снабжение
					p Снабжение строительных объектов материалами и оборудованием.
				.lineOfBusiness_columns_crane_bg-image

			.lineOfBusiness_columns_electrician 
				.lineOfBusiness_columns_flex-container
					h3 Электроснабжение
					p Комплексные работы по электроснабжению ПИР и СМР.
				.lineOfBusiness_columns_electrician_bg-image

			.lineOfBusiness_columns_fitter 
				.lineOfBusiness_columns_flex-container
					h3 электротехническое строительство 
					p Строительство объектов электротехнических сетей, поставка и монтаж трансформаторных подстанций.
				.lineOfBusiness_columns_fitter_bg-image

			.lineOfBusiness_columns_design 
				.lineOfBusiness_columns_flex-container
					h3 Проектирование
					p Промышленных объектов, инженерных систем.
				.lineOfBusiness_columns_design_bg-image


		
			