section.motivation 
	.container 
		.motivation_columns
			.motivation_column__image-tower 
				h3 Любой уровень сложности

				p Компетенции сотрудников позволяет реализовывать самые сложные и амбициозные проекты.

			.motivation_column 
				.motivation_column__image-super  
				h3 Универсальность услуг

				p Широкий спектр специалистов позволяет закрывать 80% подряда силами компании. Гарантируем все согласования и прохождение экспертизы.
			.motivation_column 
				.motivation_column__image-location  
				h3 Работаем по всей территории РФ
				p Мобильность, большой опыт и контроль на всех этапах работ в различных регионах Российской Федерации.
