section.motivation 
	.motivation--shadow
	.container 
		.motivation_columns

			.motivation_columns_tower
			
				img(class="motivation_columns_tower--point" src="/images/motivation/point.svg", alt="point")
				
				img(class="motivation_columns_tower--img" src="/images/motivation/tower.svg", alt="tower")

			h3 Любой уровень сложности
			p Компетенции сотрудников позволяет реализовывать самые сложные и амбициозные проекты.

			.motivation_columns_super

				img(class="motivation_columns_super--point" src="/images/motivation/point.svg", alt="point")
					
				img(class="motivation_columns_super--img" src="/images/motivation/superSign.svg", alt="super")

			h3 Универсальность услуг
			p Широкий спектр специалистов позволяет закрывать 80% подряда силами компании. Гарантируем все согласования и прохождение экспертизы.
			
			.motivation_columns_location

				img(class="motivation_columns_location--point" src="/images/motivation/point.svg", alt="point")
					
				img(class="motivation_columns_location--img" src="/images/motivation/location.svg", alt="location")

			h3 Работаем по всеsй территории РФ
			p Мобильность, большой опыт и контроль на всех этапах работ в различных регионах Российской Федерации.
