section.motivation 
	.motivation--shadow
	.container 
		.motivation_columns

			.motivation_columns_tower.motivation_columns--if-transition-does-not-work

				.motivation_columns_tower__images
			
					img(class="motivation_columns_tower__images--point" src="images/motivation/point.svg", alt="point")
					
					img(class="motivation_columns_tower__images--img" src="images/motivation/tower.svg", alt="tower")

				h3 Любой уровень сложности
				p Компетенции сотрудников позволяет реализовывать самые сложные и амбициозные проекты.

			.motivation_columns_super.motivation_columns--if-transition-does-not-work

				.motivation_columns_super__images

					img(class="motivation_columns_super__images--point" src="images/motivation/point.svg", alt="point")
						
					img(class="motivation_columns_super__images--img" src="images/motivation/superSign.svg", alt="super")

				h3 Универсальность услуг
				p Широкий спектр специалистов позволяет закрывать 80% подряда силами компании. Гарантируем все согласования и прохождение экспертизы.
			
			.motivation_columns_location.motivation_columns--if-transition-does-not-work

				.motivation_columns_location__images

					img(class="motivation_columns_location__images--point" src="images/motivation/point.svg", alt="point")
						
					img(class="motivation_columns_location__images--img" src="images/motivation/location.svg", alt="location")

				h3 Работаем по всеsй территории РФ
				p Мобильность, большой опыт и контроль на всех этапах работ в различных регионах Российской Федерации.
