section.partners 
	div(id="sliderPartners")
		.container
			.partners-columns
				.partners-columns_single-column
					h3 Наши партнёры
					p Наша компания дорожит репутацией надежного партнёра.

					.buttons-shevron 
						.buttons-shevron__left 
							div 
						.buttons-shevron__right
							div

				.partners-columns--window
					div(class='partners-columns_cards cards')

						.partners-columns_cards_card.card
							.image-Miratorg
							h3 АХ «Мираторг»
							p Крупнейший агропромышленный холдинг полного цикла
							a(href="https://miratorg.ru/") miratorg.ru

						.partners-columns_cards_card.card
							.image-Magnit
							h3 ПАО «Магнит»
							p Одна из ведущих розничных сетей в РФ
							a(href="https://magnit.ru/") magnit.ru

						.partners-columns_cards_card.card
							.image-Lujniki
							h3 ОК «Лужники»
							p Крупнейший спортивно-развлекательный комплекс в России и Европе
							a(href="http://luzhniki.ru/") luzhniki.ru

						.partners-columns_cards_card.card
							.image-Miratorg
							h3 АХ «Мираторг»
							p Крупнейший агропромышленный холдинг полного цикла
							a(href="https://miratorg.ru/") miratorg.ru

						.partners-columns_cards_card.card
							.image-Magnit
							h3 ПАО «Магнит»
							p Одна из ведущих розничных сетей в РФ
							a(href="https://magnit.ru/") magnit.ru

						.partners-columns_cards_card.card
							.image-Lujniki
							h3 ОК «Лужники»
							p Крупнейший спортивно-развлекательный комплекс в России и Европе
							a(href="http://luzhniki.ru/") luzhniki.ru