.container 	
	section.partners 
		.partners-columns-2-5

			.partners-columns_single-column
				h3 Наши партнёры
				p Наша компания дорожит репутацией надежного партнёра.




				.buttons-shevron 
					.buttons-shevron__left 
						div 
					.buttons-shevron__right
						div


			.partners-columns_column-with-subcolumns 

				.partners-columns_column-with-subcolumns__subcolumn
					.image-Miratorg
					h3 АХ «Мираторг»
					p Крупнейший агропромышленный холдинг полного цикла
					a(href="") 
					

				.partners-columns_column-with-subcolumns__subcolumn
					.image-Magnit
					h3 ПАО «Магнит»
					p Одна из ведущих розничных сетей в РФ
					a(href="") 

				.partners-columns_column-with-subcolumns__subcolumn
					.image-Lujniki
					h3 ОК «Лужники»
					p Крупнейший спортивно-развлекательный комплекс в России и Европе
					a(href="") 
					