section.realizedObjects
	div(id="sliderRealizedObjects")
		.container 
			.realizedObjects_tittle
				h3 Реализованные объекты
				.buttons-shevron 
					div(class='buttons-shevron__left')
						div 
					div(class='buttons-shevron__right')
						div

			div(class='realizedObjects_cards cards')

				div(class='realizedObjects_cards_card card')

					.card-columns
						.card-columns_column-left
						.card-columns_column-right 

					.card-description 
						.card-description_title-headline Объект:
						.card-description_title-text Сельскохозяйственный комплекс по выращиванию, убою и преработке свиней «Мираторг», Курская область.
						.card-description_subtitle-headline Работа:
						.card-description_subtitle-text Монтаж систем вентиляции, кондиционирования и отопления.
					
				div(class='realizedObjects_cards_card card')

					.card-columns
						.card-columns_column-left
						.card-columns_column-right 

					.card-description 
						.card-description_title-headline Объект:
						.card-description_title-text Сельскохозяйственный комплекс по выращиванию, убою и преработке свиней «Мираторг», Курская область.
						.card-description_subtitle-headline Работа:
						.card-description_subtitle-text Монтаж систем вентиляции, кондиционирования и отопления.

				div(class='realizedObjects_cards_card card')

					.card-columns
						.card-columns_column-left
						.card-columns_column-right 

					.card-description 
						.card-description_title-headline Объект:
						.card-description_title-text Сельскохозяйственный комплекс по выращиванию, убою и преработке свиней «Мираторг», Курская область.
						.card-description_subtitle-headline Работа:
						.card-description_subtitle-text Монтаж систем вентиляции, кондиционирования и отопления.





		