.container 
	section.realizedObjects
		h3 Реализованные объекты
		.buttons-shevron 
			.buttons-shevron__left 
				div 
			.buttons-shevron__right
				div


		.realizedObjects_cards


		
			.realizedObjects__card 

				.card-columns

					.card-columns_column-left

					.card-columns_column-right 

				.card-description 

					.card-description_title
						.card-description_title-headline Объект:
						.card-description_title-text Сельскохозяйственный комплекс по выращиванию, убою и преработке свиней «Мираторг», Курская область.



					.card-description_subtitle
						.card-description_subtitle-headline Работа:
						.card-description_subtitle-text Монтаж систем вентиляции, кондиционирования и отопления.






		