@import 'normalize.css'

@import './modules/fonts'
@import './modules/gradient'
@import './modules/header'
@import './modules/description'
@import './modules/lineOfBusiness'
@import './modules/motivation'
@import './modules/realizedObjects'
@import './modules/buttons-shevron'
@import './modules/partners'
@import './modules/footer'


html, body
	font-family: 'Montserrat', sans-serif

.container
	width: 1118px
	margin: 0 auto


h1,h2,h3,h4,h5,h6
	margin: 0
	padding: 0

p
	padding: 0
	margin: 0

@import './modules/media-queries'

