include templates/gradient.pug
include templates/header.pug
include templates/description.pug
include templates/lineOfBusiness.pug

include templates/favor-window.pug

include templates/motivation.pug
include templates/realizedObjects.pug
include templates/partners.pug
include templates/footer.pug

